#view {
    background-color: var(--main-color-light);
    /* padding: 2rem; */
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
.cards {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgb(114, 120, 120);
    background-color: rgb(114, 120, 120);
    border-radius: 15px;
}
.cards:hover{
    transform: translate(10px);
}