* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(186, 194, 197);
    font-family: sans-serif;
    height: 200vh;
}
nav {
    display: flex;
    align-items: center;
    background: lightblue;
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 0px;  
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.active{
    border-bottom: 3px solid red;
    padding: 5px;
}
img {
    margin-left: 50px;
}

nav img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

ul {
    display: flex;
    margin-left: 30%;
}

ul li {
    list-style: none;
    padding: 5px 5px;
    cursor: pointer;
}

ul li a {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
}
ul li:hover {
    background-color: var(--main-color-light);
    border: none;
}
a:hover {
    color: red;
    border-bottom: 1px solid red;

}
