<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="index.html"><img src="images/logo 1.png" /></a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="views/brand.html">Brand</a></li>
            <li><a href="views/edit.html">Edit</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="icon">
            <i class="material-icons">account_circle</i>
            <i class="material-icons">dehaze</i>
        </div>
    </nav>
    <div class="container">
        <div class="container-title">
          <h2>Contact Us</h2>
          <hr>
          <p>Please contact us for job posting service or other information.</p>
          <div class="tel">
            <i class="fa fa-phone-square call" aria-hidden="true"></i>
            <p>Call: +(855)95 215 215 (Cellcard)</p>
          </div>
          <div class="tel">
            <i class="fa fa-phone-square call" aria-hidden="true"></i>
            <p>Call: +(855)81 215 215 (Smart)</p>
          </div>
          <div class="tel">
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <p>Chat: +(855)95 215 215 (Telegram)</p>
          </div>
          <div class="tel">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p>E-mail: chetrahong@gmail.com</p>
          </div>
        </div>
      </div>
    <footer>Footer</footer>
</body>
</html>