<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/edit.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <a href=""><img src="../images/logo 1.png" /></a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Brand</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
        </ul>
        <div class="icon">
            <i class="material-icons">account_circle</i>
            <i class="material-icons">dehaze</i>
        </div>
    </nav>
    <main>
        <div id="edit">
            <div id="view">
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
                <div class="cards">
                    <div class="title">
                        <span class="tittle">Name of Products</span>
                    </div>
                    <div class="actions">
                        <img src="../images/edit.svg" alt="">
                        <img src="../images/trash.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>Footer</footer>
</body>
</html>