/* .buy {
    padding: 10px;

} */
input{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;

}
.buy{
    background: lightblue;
    width: 40%;
    margin: 0 auto;
    height: 30vh;
    margin-top: 150px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
input{
    width: 95%;
}
img{
    width: 10%;
}