<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUY</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="buy.css">
</head>
<body>
    <nav>
        <a href="views/customer/customer.html"><img src="../../images/logo 1.png" /></a>
        <ul>
            <li><a href="../customer/customer.html">CUSTOMER</a></li>
            <li><a href="../seller/seller.html">SELLER</a></li>
            <li><a href="buy.html" class="active">BUY</a></li>
        </ul>
    </nav>
    <div class="buy">
        <p id="title">Tilte: </p>
        <p id="price">Price: </p>
        <img src="../../images/33.jpg" alt="" id="last">
    </div>
</body>
<script src="buy.js"></script>
</html>