body{
    font-family: sans-serif;
}
button{
    border: none;
    padding: 10px;
    width: 20%;
    text-align: center;
    margin-top: -20px;
    margin-left: -130px;
    cursor: pointer;
}

.box{
    margin-top: 100px;
    display: flex;
}
.main-title{
    margin-left: 100px;
    margin-top: 20px;
}
img{
    width: 20%;
    margin-left: 100px;
}
#start{
    margin-left: -0px;
    width: 30%;
    margin-top: -20px;
    margin-bottom: 10px;
}
#price{
    margin-bottom: 10px;
}
.title{
    text-transform: uppercase;
}