<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localstorage</title>
    <link rel="stylesheet" href="customer.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="detail.css">
</head>
<body>
    <nav>
        <a href="../../index.html"><img src="../../images/logo 1.png" /></a>
        <ul>
            <li><a href="../customer/customer.html" class="active">CUSTOMER</a></li>
            <li><a href="../seller/seller.html">SELLER</a></li>
        </ul>
    </nav>

    <div class="box">
        <img src="https://i.pinimg.com/474x/75/37/53/753753fe526c3205d38b32b4b1d415a2.jpg" alt="" class="image">
        <div class="main-title">
            <div class="title" style="font-size: 30px; margin-bottom: 20px;"></div>
            <p id="price"></p>
            <p>Over the many years since I was first asked, it's been, <br>
                at different times, the most asked question for me. I <br>
                understand why so many people asked it: 
                they love <br> Matthew and they want him to be OK.
            </p>
            <p></p>
            <img src="../../images/star.png"  id="start" alt="">
            <button id="buy"> <a href="">BUY NOW</a> </button>
            <!-- ../buy/buy.html -->
        </div>
    </div>
</body>
<script src="detail.js"></script>
</html>